/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variable Declration */
:root {
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --dark-04: #a1a1a1;
  --dark-05: #d0d0d0;
  --dark-06: #e7e7e7;
  --dark-07: #f3f3f3;
  --white-01: #ffffff;
  --accent-01: #ff900e;
  --primary-font: "Work Sans", sans-serif;
}

/* global declaration */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--white-01);
  font-family: var(--primary-font);
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}
.section-primary {
  padding: 8rem 24px;
}
.section-secondary {
  padding: 4rem 24px;
}
.button-primary {
  background-color: var(--accent-01);
  color: var(--white-01);
  padding: 20px 24px;
  border: none;
  border-radius: 8px;
}
.dark-highlights {
    color: var(--dark-01);
    font-weight: 700;
}
.orange-highlights {
    color: var(--accent-01);
    font-weight: 700;
}
/* Header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
nav > h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-01);
}
nav > ul {
  display: flex;
  list-style: none;
  gap: 48px;
  align-items: center;
  color: var(--dark-02);
}

/* Section */
.hero-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.hero-main > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: var(--dark-01);
}
.hero-main > p {
  color: var(--dark-03);
}
.hero-main > img {
  width: 100%;
}
.team-section {
    display: flex;
    align-items: center;
    gap: 80px;
}
.team-photos {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 24px;
}
.team-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}
.team-text > h2{
    color: var(--dark-03);
    font-size: 30px;
    font-weight: 400;
}
.team-subtext {
    color: var(--dark-03);
}